* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #666;
}
li {
  list-style-type: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font: 14px "Microsoft YaHei", tahoma, arial, "\5b8b\4f53", sans-serif;
}
.layout-container {
  height: 100%;
}
.layout-container .nav-header {
  background: #f8f8f8;
  border-bottom: 1px solid #b9b9b9;
}
.layout-container .nav-header .header {
  width: 1200px;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
}
.layout-container .nav-header .header .header-left {
  float: left;
  height: 100%;
}
.layout-container .nav-header .header .header-left img {
  height: 100%;
}
.layout-container .nav-header .header .header-right {
  float: right;
  display: inline-block;
  font-size: 16px;
}
.layout-container .nav-header .header .header-right a {
  display: inline-block;
  width: 102px;
  height: 42px;
  line-height: 42px;
  text-align: center;
}
.layout-container .nav-header .header .header-right a:hover {
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  border: 1px solid #0082f6;
  color: #0082f6;
}
.layout-container .nav-main {
  background: url(../rsc/image/1.jpg) no-repeat;
  background-size: 100% 100%;
  height: 500px;
  position: relative;
}
.layout-container .nav-main .login-box {
  position: absolute;
  width: 300px;
  margin: 30px 8px 30px auto;
  padding: 20px;
  text-align: left;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  right: 300px;
}
.layout-container .nav-main .login-box h1 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #555;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 3px;
}
.layout-container .nav-main .login-box ul li {
  height: 50px;
  margin-bottom: 10px;
}
.layout-container .nav-main .login-box ul li .list {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #e8e8e8;
  background: #fbfcff;
  color: #333;
  font-size: 14px;
  border-radius: 3px;
  padding: 0 10px;
  box-sizing: border-box;
}
.layout-container .nav-main .login-box ul #code {
  width: 60%;
}
.layout-container .nav-main .login-box ul .send {
  margin-left: 5%;
  display: inline-block;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  width: 30%;
  height: 50px;
  color: #333;
  font-size: 14px;
  text-align: center;
  background: #fff;
  vertical-align: middle;
}
.layout-container .nav-main .login-box ul #btnSubmit {
  background: #1e7bb3;
  color: #fff;
}
.layout-container .nav-main .login-box ul .left {
  display: inline-block;
  height: 100%;
  line-height: 50px;
}
.layout-container .nav-main .login-box ul .right {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  float: right;
}
.layout-container .nav-main .login-box ul .link {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
}
.layout-container .footer {
  /* 网站备注信息 */
  min-width: 1200px;
  margin: 30px 0 0 0;
  padding: 30px 0 20px;
  text-align: center;
  line-height: 30px;
  color: #666;
  font-size: 13px;
}
